.component-button-panel {
  background-color: black;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  padding: 1rem;
  display: grid;
  height: 520px;
  width: 520px;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  overflow: hidden;
}