.component-display {
  height: 100px;
  width: 100%;
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  background-color: black;
  color: white;
  padding: 0 1rem;
  font-weight: 100;
  overflow: hidden;
}

.component-display>div {
  font-size: 6rem;
  flex-grow: 1;
  overflow: hidden;
  text-align: right;
}